<div id="page-footer" class="col-12" >
    <div id="footer-content" class="col-10 col-md-8" >
        <p id="footer-title" >Scotch Exchange</p>
        <div>
            <p>Follow Us:</p>
            <div id="social-media-icons">
                <img src="/images/social-media/facebook.png" />
                <img src="/images/social-media/instagram.png" />
                <img src="/images/social-media/youtube.png" />
                <img src="/images/social-media/linkedin.png" />
            </div>
        </div>
        <div id="footer-credits" >
            <div style="display: flex; flex-direction: row; width: 100%; margin-top: 10px;" >
                <p style="color: #949494;">© 2022 Scotch Exchange</p>
                <p style="color: #949494; margin-right: 5vw; margin-left: auto;">English ▼</p>
                <p style="color: #949494; margin-right: 0px; margin-left: 0px;">About</p>
            </div>
        </div>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>