<div id="headerbar" class="col-12 d-flex justify-content-between align-items-center" >
    <div class="col-8 col-lg-3 d-flex justify-content-between">
        <a href="/" style="text-decoration: none; color: black;"><img style="width: 40px;" src="/images/logo_bw.png" /></a>
        <a class="menu-item" href="/dashboard/" ><p class="menu-item">My Cellar</p></a>
        <a class="menu-item" href="/wishlist/" ><p class="menu-item">My Wishlist</p></a>
        <a class="menu-item" href="/browse/" ><p class="menu-item">Browse</p></a>
    </div>
    <a href="/myaccount/" class="col-3 col-md-2 d-flex" >
        <p style="margin: auto 10px auto auto;" >Account</p>
    </a>
</div>