<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/cellsearch.css" />
</head>

<body>
    <div id="page-content" class="col-12">
        <%- include('../partials/navigation.ejs') %>

            <div id="page-body">
                <div class="col-12 offset-md-2 col-md-8" id="navcontainer" >
                    <div class="container col-12">
                        <!--<div class="row">
                            <div class="col-sm input-group">
                                <input id="distillery_search" class="form-control" type="text"
                                    placeholder="Search By Distillery..." />
                            </div>
    
                            <div class="col-sm input-group">
                                <input id="age_search" class="form-control" type="text"
                                    placeholder="Search By Age..." />
                                
                                <span class="input-group-text"> Year Old </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm input-group">
                                <input id="abv_search" class="form-control" type="text"
                                    placeholder="Search By ABV..." />
                                
                                <span class="input-group-text"> % </span>
                            </div>
    
                            <div class="col-sm input-group">
                                <input id="vol_search" class="form-control" type="text"
                                    placeholder="Search By Volume..." />
                                
                                <span class="input-group-text"> cl </span>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col input-group">
                                <input id="name_search" class="form-control" type="text"
                                    placeholder="Search By Name..." />
                                <button id="button_search" class="btn btn-primary" style="min-width: 50px;">Go</button>
                            </div>
                        <div class="col-12 col-md-4" id="results_count_row" >
                            <p>Items Per Page:</p>
                            <select class="col-6" id="results_per_page" >
                                <option value="10">Show 10 Results</option>
                                <option value="20">Show 20 Results</option>
                                <option value="50">Show 50 Results</option>
                            </select>
                        </div>
                    </div>
                </div>
               


                <div id="result-div">
                    
                </div>
            </div>

    </div>
    <%- include('../partials/footer.ejs') %>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="text/javascript" src="/js/browse.js"></script>
</body>

</html>